.nav-wrapper {
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}
.navigation {
    margin-top: 15px;
    font-size: 18px;
}
.info {
    font-size: 21px;
    font-weight: bold;
    background-color: rgb(243, 224, 189);
    padding: 15px;
}
.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5vw;
}
.card {
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 50px;
    background-color: salmon;
    margin: 15px 10px;
}
.card:hover {
    transform: scale(1.1);
}
